
###############
#  fixed file #
###############
*.exe
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep


###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp

###############
#    script   #
###############
*.bat

##eclipse###
bin/
.project
.setting/
.classpath

garget
garget/

##idea##
.idea/
classes/
*.iml
out/
.gradle/
build/
.svn/