
<configuration debug="true" scan="false" scanPeriod="10 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="STDOUT-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyyMMdd-HH:mm:ss.SSSZ}|%contextName|%thread|%-5level|%logger|%msg%n
            </Pattern>
        </encoder>
    </appender>

    <!-- 这里平时的level为WARN，跟踪问题时才设置为DEBUG -->
    <logger name="own.jadezhang.learning" level="DEBUG">
        <appender-ref ref="DEBUG-FILE-APPENDER"/>
        <appender-ref ref="WARN-FILE-APPENDER" />
    </logger>

    <root level="warn">
        <appender-ref ref="STDOUT-APPENDER" />
    </root>
</configuration>